.page-not-found-container {
  background-image: url('https://cdn.pixabay.com/photo/2021/02/26/16/29/error-404-6052476_1280.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-size: cover;
}
.lost-connection-title {
  color: #475569;
  font-family: 'Roboto';
}
