.backdrop-image {
  min-width: 360px;
  height: 605px;
}
.backdrop-poster-container {
  background-size: cover;
}

.play-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;

  background: #ffffff;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.movie-description {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #ffffff;
}
.movie-title {
  font-size: 30px;
  color: #ffffff;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
}
.movie-details-container {
  width: 100vw;
  padding: 30px;
}

.similar-image {
  width: 255px;
  height: 170px;
  border-radius: 8px;
  margin: 10px;
}
.similar-movies-container {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .movie-title {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 63px;
    /* identical to box height */

    color: #ffffff;
  }
  .movie-description {
    font-size: 20px;
    max-width: 60vw;
  }
}
